@model Producer

<div class="ActorsBox">
    <hr />
    <div class="item">
        <img id="actimg" src="@Model.Imgurl" />
        <div>@Model.Name</div>
        <div>@Model.Description</div>

        @if (User.IsInRole("Admin"))
        {
            <a asp-action="EditDetails" asp-controller="Producer" asp-route-id="@Model.ProducerId">Edit</a>

        }

        <a asp-action="Details" asp-controller="Producer" asp-route-id="@Model.ProducerId">Details</a>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Delete" asp-controller="Producer" asp-route-id="@Model.ProducerId">Delete</a>

        }

    </div>
    <hr />

